apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-app
  labels:
    app: php
    version: "2.0"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: php
  template:
    metadata:
      labels:
        app: php
        version: "2.0"
    spec:
      containers:
      - name: php
        image: IS2022U/php-demo:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
